body {
    text-align: center;
}

img {
    margin-bottom: 1.5rem;
}


p {
    font-size: 2rem;
}

h1 {
    margin-bottom: 2rem;
}
.btn-toggle:hover {
    width: 30%;
    color: red;
}

.sulka:hover {
    font-size: 15px;
    color: red;
}


@media(max-width:991px) {
    .image {
        width: 100%;
        height: 100%;
    }
}
