/* light-theme.css */

body {
    color: #222;
    background: #fff;
}

a {
    color: #0033cc;
}

button {
    border: 4px solid #000;
    background: rgb(64, 53, 163);
    color: #fff;
    font-size: 20px;
}

h1 {
    background: red;
    /* Цвет фона */
    color: #000;
    /* Белый цвет текста */
    padding: 10px;
    /* Поля вокруг текста */
    border: 7px dashed rgb(25, 1, 245);
    /* Параметры рамки */
    background-clip: padding-box;
    /*фон внутри рамки*/
}

.sulka {
    background: #e8e795;
    /* Цвет фона */
    color: rgb(0, 68, 255);
    padding: 5px;
    /* Поля вокруг текста */
    border: 5px dotted #0069b5;
    /* Параметры рамки */
    font-size: 17px;
    font-style: italic;
}