body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
}

.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}

.image-one {
	background: url(../img/1.jpg) center no-repeat;
	background-size: cover;
}


.image-one:hover {
	opacity: 0.5;
}

.image-two:hover {
	opacity: 0.5;
}

.image-three:hover {
	opacity: 0.5;
}

.image-four:hover {
	opacity: 0.5;
}

.image-two {
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
}

.image-three {
	background: url(../img/3.jpg) center no-repeat;
	background-size: cover;
}

.image-four {
	background: url(../img/4.jpg) center no-repeat;
	background-size: cover;
}

.button-one {
	border: none;
	font-weight: 700;
	font-size: 14px;
	color: white;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(64, 199, 129);
	box-shadow: 0 -3px rgb(53, 167, 110) inset;
	transition: 0.2s;
}

.button-two {
	display: inline-block;
	color: white;
	padding: .5em 2em;
	border: none;
	border-width: 2px 0;
	border-style: solid none;
	border-color: #FDBE33 #000 #D77206;
	border-radius: 6px;
	background: linear-gradient(#F3AE0F, #E38916) #E38916;
	transition: 0.2s;
}

.button-one:hover,
.button-one:active {
	color: rgb(235, 27, 27);
	text-shadow: 0 1px 2px #333;
}

.button-two:hover {
	background: red;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 900;
}





.avd_div {
	margin: 30px auto;
	padding: 0;
	text-align: center;
	display: block;
}

.bucn_3_s {
	text-decoration: none;
	outline: none;
	display: inline-block;
	position: relative;
	padding: 15px 30px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: 2px;
	transition: .8s cubic-bezier(.165, .84, .44, 1);
	-webkit-box-shadow: 0 0 4px #999;
	-moz-box-shadow: 0 0 4px #999;
	-o-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 4px #999;
	z-index: 1;
	color: #188cb6;
	background-color: #fff;
	border: 1px solid #188cb6;
}

.bucn_3_s:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	z-index: -1;
	color: #fff;
	transition: .8s cubic-bezier(.165, .84, .44, 1);
	background-color: #0b7fa9;
	background-image: linear-gradient(90deg, #7ff9fd, #0b7fa9, #0b7fa9, #7ff9fd);
	background-image: -o-linear-gradient(90deg, #7ff9fd, #0b7fa9, #0b7fa9, #7ff9fd);
	background-image: -moz-linear-gradient(90deg, #7ff9fd, #0b7fa9, #0b7fa9, #7ff9fd);
	background-image: -webkit-linear-gradient(90deg, #7ff9fd, #0b7fa9, #0b7fa9, #7ff9fd);
	background-image: -ms-linear-gradient(90deg, #7ff9fd, #0b7fa9, #0b7fa9, #7ff9fd);
}

.bucn_3_s:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}

.bucn_3_s:hover,
.bucn_3_s:active {
	color: #fff;
	text-shadow: 0 1px 2px #333;
}

*::before,
*::after {
	box-sizing: border-box;
}

.avd_div {
	margin: 30px auto;
	padding: 0;
	text-align: center;
	display: block;
}

.but_sad {
	text-decoration: none;
	color: #fff;
	padding: 12px 20px;
	font-size: 18px;
	font-weight: bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0, 0, 0, 0.4), 0px 2px 9px rgba(255, 255, 255, 0.2) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0, 0, 0, 0.4), 0px 2px 9px rgba(255, 255, 255, 0.2) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0, 0, 0, 0.4), 0px 2px 9px rgba(255, 255, 255, 0.2) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0, 0, 0, 0.4), 0px 2px 9px rgba(255, 255, 255, 0.2) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	text-shadow: 0 1px 1px #555;
	-webkit-border-radius: 5px 5px 35px 35px;
	-moz-border-radius: 5px 5px 35px 35px;
	-o-border-radius: 5px 5px 35px 35px;
	border-radius: 5px 5px 35px 35px;
}

.but_sad:active {
	top: 7px;
	box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0, 0, 0, 0.4), 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.red_sad {
	background-color: #9e0e0e;
	background-image: linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);
	background-image: -o-linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);
	background-image: -moz-linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);
	background-image: -webkit-linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);
	background-image: -ms-linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);
	-webkit-box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0, 0, 0, 0.4), inset 0px 2px 9px rgba(255, 255, 255, 0.2), inset 0 -2px 9px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0, 0, 0, 0.4), inset 0px 2px 9px rgba(255, 255, 255, 0.2), inset 0 -2px 9px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0, 0, 0, 0.4), inset 0px 2px 9px rgba(255, 255, 255, 0.2), inset 0 -2px 9px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0, 0, 0, 0.4), inset 0px 2px 9px rgba(255, 255, 255, 0.2), inset 0 -2px 9px rgba(0, 0, 0, 0.2);
}

.red_sad:hover {
	-webkit-box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0, 0, 0, 0.4), 0px 2px 15px rgba(255, 255, 255, 0.4) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0, 0, 0, 0.4), 0px 2px 15px rgba(255, 255, 255, 0.4) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0, 0, 0, 0.4), 0px 2px 15px rgba(255, 255, 255, 0.4) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0, 0, 0, 0.4), 0px 2px 15px rgba(255, 255, 255, 0.4) inset, 0 -2px 9px rgba(0, 0, 0, 0.2) inset;
}

.red_sad:active {
	-webkit-box-shadow: 0 2px 2px #5e2525, 0px 4px 4px rgba(0, 0, 0, 0.4), 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 2px 0 #5e2525, 0px 4px 4px rgba(0, 0, 0, 0.4), 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
	-o-box-shadow: 0 2px 0 #5e2525, 0px 4px 4px rgba(0, 0, 0, 0.4), 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 0 #5e2525, 0px 4px 4px rgba(0, 0, 0, 0.4), 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}
