body {
    text-align: center;
}

h1 {
    background: #2602f5;
    /* Цвет фона */
    color: #fff;
    /* Белый цвет текста */
    padding: 5px;
    /* Поля вокруг текста */
    border: 5px dashed #000000;
    /* Параметры рамки */
    background-clip: padding-box;
    /*фон внутри рамки*/
    font-size: 35px;
    text-align: center;
}

.btn {
    display: inline-block;
    /* Строчно-блочный элемент */
    background: #f10606;
    /*  цвет фона */
    color: #fff;
    /*  цвет текста */
    text-align: center;
    padding: 15px 15px;
    /* Поля вокруг текста */
    width: 300px;
    text-decoration: none;
    /* Убираем подчёркивание */
    border-radius: 20px;
    /* Скругляем уголки */
    margin-bottom: 50px;

}

.karta {
    display: inline-block;
    text-align: center;
}