.button {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    margin-top: 2rem;
    background-color: red;
    font-weight: 900;
}

.button:hover {
    font-size: 1.3rem;
    color: white
}

h1 {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.b2 {
    background-color: red;
    width: 150px
}

.b2:hover {
    background-color: rgb(156, 13, 13);
}

.modal-dialog {
    border: 3px solid red
}

.modal-header {
    background-color: rgb(248, 151, 151);
}