@font-face {
	font-family: 'Bebas Neue';
	src: url('BebasNeueBold.eot');
	src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('BebasNeueBold.woff2') format('woff2'),
		url('BebasNeueBold.woff') format('woff'),
		url('BebasNeueBold.ttf') format('truetype'),
		url('BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

.text-box {
	padding-top: 2rem;
}

.result {
	margin-bottom: 0;
	margin-top: 3rem;
}

.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}

small {
	font-size: 1.3rem;
}

#os {
	font-family: 'Open Sans', sans-serif;
}

#bn {
	font-family: 'Bebas Neue'
}

#lt {
	font-family: 'Lato', sans-serif;
}

#lb {
	font-family: 'Lobster', cursive;
}