.text-box {
	padding-top: 2rem;
}

.result {
	margin-bottom: 0;
	margin-top: 3rem;
}

.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}

small {
	font-size: 1.3rem;
}

#os {
	font-family: 'Open Sans', sans-serif;
}

#bn {
	font-family: 'Bebas Neue', cursive;
}

#lt {
	font-family: 'Lato', sans-serif;
}

#lb {
	font-family: 'Lobster', cursive;
}